* {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(137, 137, 137, 0.228);
}

p,
h1,
body {
    margin: 0;
}

.image-container,
.card-title {
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.separator.vertical {
    width: 1px;
    background-color: #fff;
    height: 20px;
    margin: 0 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info .user-name {
    margin-bottom: 4px;
    font-size: 32px;
    text-transform: uppercase;
}

.user-info .user-subinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 240px;
}

.image-container {
    margin: 24px 0;
}

.image-container .avatar {
    background-color: black;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    border-width: 4px;
    border-color: #000;
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    /* Satırlar dolu olduğunda bir sonraki satıra geçmesi için */
    gap: 10px;
    /* Resimler arasındaki boşluk */
    justify-content: center;
    /* Resimleri yatayda merkezle */
    align-items: center;
    /* Resimleri dikeyde merkezle */
}

.ach {
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: #000;
}

.container {
    display: flex;
    width: 100%;
    width: 800px;
    justify-content: center;

}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    margin: 24px 0;
    width: 100%;
    /* İki container'ı eşit genişlikte yapmak için yarı yarıya ayarlayabilirsiniz */
    background-color: #40404076;
}

.history-container {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    margin: 24px 0;
    width: 100%;
    /* İki container'ı eşit genişlikte yapmak için yarı yarıya ayarlayabilirsiniz */
    /* background-color: #562260; */
    background-color: #323236a9;
}


/* Aynı stil özellikleri .info-container ve .history-container içinde olduğu için aynı stil özellikleri burada kullanılmıştır */
.info {
    padding: 8px 0;
    margin: 0 auto;
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info .title {
    text-transform: uppercase;
}

.win {
    background-color: #0c4709;
    padding: 8px 0;
    margin: 0 auto;
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.win .title {
    text-transform: uppercase;
}

.lose {
    background-color: #6f1111;
    padding: 8px 0;
    margin: 0 auto;
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.lose .title {
    text-transform: uppercase;
}

.verify-button {
    background-color: #000;
    /* Hesap doğrulama butonunun arka plan rengi */
    color: #fff;
    /* Hesap doğrulama butonunun metin rengi */
    padding: 12px 24px;
    /* Hesap doğrulama butonunun iç dolgusu */
    border: none;
    /* Hesap doğrulama butonu kenarlık yok */
    border-radius: 4px;
    /* Hesap doğrulama butonunun köşeleri yuvarlatılmış */
    cursor: pointer;
    /* Hesap doğrulama butonuna tıklanabilir imleç */
    font-size: 16px;
    /* Hesap doğrulama butonunun metin boyutu */
    text-transform: uppercase;
    /* Hesap doğrulama butonu metinini büyük harfe dönüştür */
}

h1 {
    color: #f9fdd2;
    /* Başlık metni rengi */
    font-size: 20px;
    /* Başlık metni boyutu */
    /* Kullanılacak yazı tipi */
    text-align: center;
    /* Metin hizalama (orta) */
    text-transform: uppercase;
    /* Metin büyük harf yapma */
}

@media all and (min-width: 555px) {

    .profile {
        height: 100vh;
        max-width: 700px;
    }

    .profile-container {
        align-items: center;
        flex-direction: row;
        height: 100%;
    }

    .profile-container .user {
        padding: 32px 0 32px 0;
        margin: 16px;
        align-items: center;
    }

    .profile-container .info-container {
        margin: 16px 48px 48px 16px;
        padding: 32px 0 32px 0;
        position: relative;
        max-height: 450px;
    }
}