<!-- <div> mail</div>
<div>{{user?.email}}</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="profile">
        <div class="user">
            <div class="image-container">
                <img class="avatar" alt="" src="https://image.freepik.com/free-vector/coloured-knight-design_1152-54.jpg">
            </div>
            <div class="user-info">
                <p class="user-name">Alex M.</p>
                <div class="user-subinfo">
                    <p class="user-class">Master</p>
                    <div class="separator vertical"></div>
                    <p class="user-level">22lvl</p>
                </div>
            </div>
        </div>
        <div class="info-container">
            <div class="info">
                <div class="title">Current place:</div>
                <div class="description">1st</div>
            </div>
			<div class="info">
                <div class="title">Achievements:</div>
                <div class="description">42/50</div>
            </div>
			<div class="info">
                <div class="title">Losses:</div>
                <div class="description">3</div>
            </div>
            <div class="info">
                <div class="title">Wins:</div>
                <div class="description">5</div>
            </div>
        </div>
    </main>
</body>
</html>